/* Lightspark Docs Theme */
/* ALL STYLES REFERENCED FROM https://www.lightspark.com */

/* Fonts */
@font-face {
  font-family: 'Suisse Intl';
  src: url('/static/fonts/suisse-intl/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/static/fonts/suisse-intl/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('/static/fonts/suisse-intl-mono/SuisseIntlMono-Regular-WebXL.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Base - from lightspark.com */
body {
  font-family: 'Suisse Intl', -apple-system, BlinkMacSystemFont, sans-serif !important;
  color: #000000 !important;
  background: #F8F8F7 !important;
}

/* Headings - BLACK like lightspark.com */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Suisse Intl', sans-serif !important;
  font-weight: 500;
  color: #000000 !important;
}

code, pre {
  font-family: 'Suisse Intl Mono', monospace !important;
}

/* Hide tabs row */
.nav-tabs {
  display: none !important;
}

/* NAVBAR LINKS - BLACK like lightspark.com */
.navbar-link a,
#navbar nav ul li a,
#navbar a {
  color: #000000 !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}

/* Background - cream like lightspark.com */
#navbar-transition,
#navbar-transition[data-is-opaque="true"],
#navbar-transition[data-is-opaque="false"] {
  background: #F8F8F7 !important;
  border-bottom: 1px solid rgba(0,0,0,0.06) !important;
  backdrop-filter: none !important;
}

#almond-background-color {
  background: #F8F8F7 !important;
}

/* Sidebar */
#sidebar {
  top: 4rem !important;
}

/* Sidebar - BLACK text like lightspark.com */
.sidebar-group-header h5 {
  color: #000000 !important;
}

.sidebar-group a {
  color: #000000 !important;
}

/* ALL LINKS - BLACK like lightspark.com */
a {
  color: #000000 !important;
}

/* Primary color override - BLACK */
.text-primary,
[class*="text-primary"] {
  color: #000000 !important;
}
